
<div>

  
        <div style="width:250px; background: #00000081; color:#fff; text-align: center;">


            <p>
                <%=data.name%>
            </p>
            <p>
                <%=data.category%>
            </p>
            <p>
                <%=data.price%>
            </p>
            <p>
                <%=data.stock%>
            </p>
            <p>
                <%=data.rating%>
            </p>
            <p>
                <%=data.brand%>
            </p>
            <p>
                <%=data.description%>
            </p>

           








        </div>

</div>